* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.App>* {
    width: 100%;
    max-width: 300px;
}

.count_container {
    display: flex;
    justify-content: space-between
}